<div class="content">
    <h1>Ближайшие вебинары</h1>
		<table>
			<tr class="head">
				<th>Название</th>
				<th>Лектор</th>
				<th>Дата и время проведения</th>
			</tr>
			<tr class="even">
				<td>Гипноз. Что это такое и зачем нам это нужно?</td>
				<td>Тихомирова Юлия Александровна</td>
				<td>04.08.2022 20:00</td>
			</tr>
			<tr class="even">
				<td>Онлайн гипноз. Возможно ли это?</td>
				<td>Тихомирова Юлия Александровна</td>
				<td>11.08.2022 20:00</td>
			</tr>
			<tr class="even">
				<td>Опасен ли гипноз?</td>
				<td>Тихомирова Юлия Александровна</td>
				<td>18.08.2022 20:00</td>
			</tr>
			<tr class="even">
				<td>Я не поддаюсь гипнозу!</td>
				<td>Тихомирова Юлия Александровна</td>
				<td>25.08.2022 20:00</td>
			</tr>
		</table>
		<form action="" method="post">
			<fieldset>
				<legend>Зарегистрируйтесь</legend>
				<p><label class="title" for="name">Ваше имя:</label>
					 <input type="text" name="name" id="name"><br />
					 <label class="title" for="email">Ваш email:</label>
					 <input type="text" name="email" id="email"></p>
			</fieldset>
 	    <div class="submit"><input type="submit" value="Регистрация" /></div>
		</form>
</div>